.top-header
{
	width: 100%;
	background-image: url("assets/img/banniere_carotte");  
	background-size: cover; 
	background-position: center;
}
section 
{
	padding: 1em;
	margin-left: auto;
  	margin-right: auto;

}
.contenu
{
	display:flex;
}
.col1
{
	width:35%;
}
.col2
{
	width:65%;
}
.colImg
{
	width: 33%;
}
h1 
{
	text-align: center;
	color: #74a322;
}
h2
{
	text-align: center;
	color: #51B878;
}
img
{
	display: block;
	margin-left: auto;
	margin-right: auto;

	max-height: 220px;
	max-width: 400px;
}


/**************************/
/*   Pour la barre Menu   */
/**************************/
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    background-color: #74a322;    /* Ajout de la couleur d'arrière-plan */

    justify-content: right     	  /* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
}	
.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */

    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color: #9CD834;    /* Couleur d'arrière-plan */
    color: #FFFFFF;               /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #C4E9F1;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */

    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a:hover,
.menu a:hover.actif {
	background-color: #FFFFFF;
	color: #9CD834;
	border-color: #9CD834;
}
.menu a.actif {    
    background-color: #FFFFFF; 
    color: #F6914D ;
    border-color: #F6914D ;
}
.tri{
	display: flex;
}
form {
	display: flex;
	align-items: center;
	justify-items: center;
}
.button{
	margin-left: 1vw;
}