
.content>p{
    font-size: large;
margin:unset}
.icon-text{
    margin-top: 50px;
}

div.icon-text {
    display: flex;
    justify-content: flex-start;
    gap: 7vw;
    margin-left: 3.2vw;
}
.imgcompo{
    margin-left: -4.2vw;
}