#article {
    position: relative;
    left: -150%;
    transition: left 0.5s;
  }
  
  #article.visible {
    left: 0;
  }
  ol>li{
    margin-top: 3%;
  }
 
  ol{
    padding-left: 9px;
  }

  .dropdown-menu2{
    position: absolute;
    left: -29vw;
    top: 3.5vh;
    width: 26vw;

  }

  .cont{
    display: flex;
    flex-wrap: wrap;
  }
  .dropdown-content2 {
    background-color: #f3f3f3;
    float: left;
    width: 100%;
    
}

#res{
  color: black;}

  
  #pres{
    margin-top: 7vh;
    margin-left:20vw ;
    margin-right: 20vw;
    border-radius: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 10vh;
  }
  #pres2{
    margin-top: 7vh;
    margin-left:8vw ;
    margin-right: 8vw;
    border-radius: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 10vh;
  }

 
 .liste {
    margin-top: 0;
    margin: auto;
    display: flex;
    margin-top: 0.5vh;
}
#config_admin{
transition: 0.5s;
position: relative;
}

#config_admin:hover{
  border: 1px solid rgb(209, 209, 209);

}

#border{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.config-div{
  position: absolute;
  top: 0;
  left: 0;
}

.text_compo{
  text-align: center;
}
.icon_compo{
  width: 2vw;
  height: auto;
}
#col_compo{
  margin-left: 2vw;
}
#config_acc{
  
  border-radius: 57px;

}
#btn_inscription{
  height: 5vh;
}
.img_boitier{
  width: 10vw;
}