
     @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
     *{
      font-family: 'Montserrat', sans-serif;
    
     }
     /*couleurs 
     rgb(162, 201, 91)
     rgb(129, 151, 76)
     rgb(126, 172, 82)
     rgb(66, 145, 62)*/

      .search-box {
        display: flex;
        padding: 0.5vw;
        margin-left: 25vw;
     
    
        
    }
     #rech{
      width: 26vw;
     }
    .notification {
      margin-top: 10vh;
      background: rgba(254, 254, 254, 0.23);
    }

    .search-box__input {
        border-color: transparent;
        /* Take available width */
        width: 5vw;

    }
    .header-main{
      background-color:rgb(66, 145, 62) ;
    }
    .navbar {
      left: 25vw;
      background-color:rgb(66, 145, 62) ;
      
  }
  .navbar-start {
  
    justify-content: flex-start;
    margin-right: 0;
}
.navbar-end {
  justify-content: flex-start;
  margin-left: 0;
}
  .navbar a{
    color: white;
    
  }
  .container {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
